<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>安装包上传</h1>
<form th:action="${#request.getContextPath()+'/uploadsubmit'}" method="post" enctype="multipart/form-data">
    <div>
        版本号：<input type="text" name="versionNum"/>
    </div>
    文件：<input type="file" name="file"/>
    <div>
        密令：<input type="password" name="token"/>
    </div>
   <div>
       升级说明：<textarea type="" name="updateMessage"></textarea>
   </div>
    <div>
  是否强制升级：
    <input type="radio" name="forceUpdate" value="1"/> 是&nbsp;&nbsp;
    <input type="radio" name="forceUpdate" value="0"/> 否&nbsp;&nbsp;
    </div>
            <input type="submit" value="提交"/>

</form>

</body>
</html>